.App {
  background-color: #e8eaed;
  display: flex;
  width: 100%;
  height: 100%;
}

.main-container {
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 768px;
  height: 460px;
  padding: 32px 32px;
}

.question-container {
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 360px;
  padding: 32px 32px;
}

.main-text {
  color: #707070;
  text-align: center;
  margin: 0;
}

.radio-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #707070;
  margin-left: 16px;
  margin-bottom: 16px;
}
